<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link href="styles/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <!-- endbuild -->
  </head>
  <body ng-app="yoSchoolApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
        <div class="navbar navbar-default" ng-controller="NavCtrl">
      <div class="container">

        <div class="navbar-header">
          <a href="" ng-click="goHome()"><img src="images/HR_Logo.png" alt="HR logo" class="hr-logo"></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-left">
            <li ng-repeat="name in course">
            <a href="#/student/course/20141/{{name.CourseID}}" ng-click="setCourseName(name)">{{ name.CourseID }}</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">



            <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
      {{username}}<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#/student">
        <span ng-if="lan == 'is'">Um mig</span>
        <span ng-if="lan == 'en'">About</span>
      </a></li>
        <li><a href="" ng-click="changeLang('is')">Íslenska</a></li>
            <li><a href="" ng-click="changeLang('en')">English</a></li>
      <li><a href="#" ng-click="logout()">
        <span ng-if="lan == 'is'">Útskrá</span>
        <span ng-if="lan == 'en'">Log Out</span>
      </a></li>
    </ul>
  </li>

        </div>
      </div>
    </div>
    <div class="container" ng-view>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/nnnick-chartjs/Chart.min.js"></script>
    <script src="bower_components/angles/angles.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/student.js"></script>
        <script src="scripts/controllers/StudentEval.js"></script>
        <script src="scripts/services/StudentFactory.js"></script>
        <script src="scripts/services/TeacherFactory.js"></script>
        <script src="scripts/services/LoginFactory.js"></script>
        <script src="scripts/services/backend.js"></script>
        <script src="scripts/controllers/Teacher.js"></script>
        <script src="scripts/controllers/TeacherNewEval.js"></script>
        <script src="scripts/controllers/TeacherShowEval.js"></script>
        <script src="scripts/controllers/Nav.js"></script>
        <script src="scripts/controllers/Course.js"></script>
        <script src="scripts/directives/myFocus.js"></script>
        <script src="scripts/directives/myBlur.js"></script>
        <script src="scripts/services/LangFactory.js"></script>
        <!-- endbuild -->
</body>
</html>
