<span ng-init="theCourse()"></span>

<h4>
  <span ng-if="lan == 'en'">{{courseName.NameEN}} </span>
  <span ng-if="lan == 'is'">{{courseName.NameIS}} </span>
  <span class="text-muted"><small>{{ courseName.CourseID }}</small></span>
</h4>
 
<div class="media" ng-repeat="t in courseInfo">

  <span class="pull-left">
    <img class="media-object thumbnail" id="imageClip" ng-src="{{t.ImageURL}}" alt="Mynd af kennara">
  </span>
  <div class="media-body">
    <h4 class="media-heading">{{t.FullName}}</h4>
    {{t.Email}}
  </div>
</div>


