<form name="login_form" novalidate ng-submit="loginForm(login_form.$valid)" class="form-horizontal">
    <fieldset>
      <legend>Login</legend>

      <div class="form-group">
    <label for="inputUsername3" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">

          <input  type="text"
                  class="form-control"
                  id="inputUsername3"
                  placeholder="username"
                  name="username"
                  ng-model="person.user"
                  ng-minlength=3
                  ng-maxlength=20
                  ng-class="{error: login_form.username.$dirty && login_form.username.$invalid}"
                  autofocus
                   required />
        <div class="error"
             ng-show="login_form.username.$dirty && login_form.username.$invalid">
          <small class="error"
                 ng-show="login_form.username.$error.required">
                 Please input a username
          </small>
          <small class="error"
                 ng-show="login_form.username.$error.minlength">
                 Your username is required to be at least 3 characters
          </small>
          <small class="error"
                 ng-show="login_form.username.$error.maxlength">
                 Your username cannot be longer than 20 characters
          </small>
          <small class="error"
                 ng-show="login_form.username.$error.unique">
                 That username is taken, please try another
          </small>
        </div>
        </div>
  </div>


  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">

          <input  type="password"
                  class="form-control"
                  id="inputPassword3"
                  placeholder="password"
                  name="password"
                  ng-model="person.pass"
                  ng-minlength=6
                  ng-maxlength=75
                  ng-class="{error: login_form.password.$dirty && login_form.password.$invalid}"
                  required />
        <div class="error"
             ng-show="login_form.password.$dirty && login_form.password.$invalid">
          <small class="error"
                 ng-show="login_form.password.$error.required">
                 Please input a password
          </small>
          <small class="error"
                 ng-show="login_form.password.$error.minlength">
                 Your password is required to be at least 6 characters
          </small>
          <small class="error"
                 ng-show="login_form.password.$error.maxlength">
                 Your password cannot be longer than 75 characters
          </small>
        </div>
      </div>
    </div>



  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
    </fieldset>
  </form>


  <div class="error-msg">{{loginFail}}</div>
