

<span ng-init="getEvals()"></span>
<div class="media">

  <span class="pull-left">
    <img class="media-object thumbnail" id="imageClip" ng-src="{{info.ImageURL}}" alt="Mynd af þér">
  </span>
  <div class="media-body">
    <address>
    <h4 class="media-heading">{{info.FullName}}</h4>
    {{info.Username}}<br>
    {{info.SSN}}<br>
    {{info.Username}}@ru.is<br>
  </address>
  </div>
</div>


<h4 ng-if="lan == 'en'">List of unanswerd Evaluations</h4>
<h4 ng-if="lan == 'is'">Listi af ósvöruðum kennslumötum</h4>


<table class="table table-hover">

  <th ng-if="lan == 'is'">Áfangi</th>
  <th ng-if="lan == 'en'">Course</th>
  <th></th>

<tr ng-repeat="evaluation in allMyEval">
  <td>
<a ng-href="#/student/evaluation/{{ evaluation.CourseID }}/20141/{{evaluation.ID}}">
  <span ng-if="lan == 'is'">{{evaluation.CourseNameIS }}</span>
  <span ng-if="lan == 'en'"> {{evaluation.CourseNameEN}} </span></a>
</td>
  <td>
    <span class="text-muted"><small>{{ evaluation.CourseID }}</small></span>
</td>

</tr>

</table>



