<h4>List of evaluations<h4>
<ul>
  <li ng-repeat="evaluation in evaluations">
    <a ng-href="#/student/evaluation/{{ evaluation.ID }}">{{ evaluation.TitleIS }}</a>
  </li>
</ul>

<button ng-click='getEvals()'>GET EVAL</button>

<h4>INFO</h4>
<img ng-src="{{info.ImageURL}}" />
<p>Name: {{ info.FullName }}</p>
<p>Username: {{ info.Username }} </p>
<p>SSN: {{ info.SSN }} </p>

<h4>Courses</h4>

<div ng-repeat="course in courses">
<ul>
  <li ng-repeat="name in course.data">
    {{ name.CourseID }}
  </li>
</ul>
</div>

<!-- <div ng-repeat="c in courses">
<ul>
  <li ng-repeat="name in c.data"> 
  {{ name.CourseID }}
  </li>
</ul>
</div> -->