<span ng-init="evaluation()"></span>
<span ng-init="theCourse()"></span>



<h3>
  <span ng-if="lan == 'is'">{{evalu.TitleIS}}</span>
  <span ng-if="lan == 'en'">{{evalu.TitleEN}}</span>
<span class="text-muted"><small>{{courseID}}</small></span>
</h3>


<h5>
  <span ng-if="lan == 'is'">{{evalu.IntoTextIS}}</span>
  <span ng-if="lan == 'en'">{{evalu.IntroTextEN}}</span>
    <h5>

<form>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span ng-if="lan == 'is'">Spurningar um áfangan</span>
      <span ng-if="lan == 'en'">Course questions</span>
    </h3>
  </div>
  <div class="panel-body">

      <div ng-repeat="q in evalu.CourseQuestions">


      <div class="form-group" ng-if="q.Type == 'text'">
      <label ng-if="lan == 'is'">{{ q.TextIS }}</label>
      <label ng-if="lan == 'en'">{{ q.TextEN }}</label>
      <textarea class="form-control cq-question" ng-model="answer.Answer" name="{{q.ID}}"></textarea>
      </div>

      <div class="form-group" ng-if="q.Type == 'single'">

      <label ng-if="lan == 'is'">{{ q.TextIS }}</label>
      <label ng-if="lan == 'en'">{{ q.TextEN }}</label>

          <div ng-repeat="answer in q.Answers">
              <label ng-for="{{answer.ID}}">
              <span ng-if="lan =='is'"><input type="radio" name="{{q.ID}}" value="{{answer.ID}}" class="cq-question">{{answer.TextIS}}</span>
              </label>


              <label ng-for="{{answer.ID}}">
              <span ng-if="lan =='en'"><input type="radio" name="{{q.ID}}" value="{{answer.ID}}" class="cq-question">{{answer.TextEN}}</span>
              </label>

          </div>

      </div>

      <div class="form-group" ng-if="q.Type == 'multiple'">

      <label ng-if="lan == 'is'">{{ q.TextIS }}</label>
      <label ng-if="lan == 'en'">{{ q.TextEN }}</label>

          <div ng-repeat="answer in q.Answers">
              <label ng-for="{{answer.ID}}">
              <span ng-if="lan =='is'"><input type="checkbox" name="{{q.ID}}" value="{{answer.ID}}" class="cq-question">{{answer.TextIS}}</span>
              </label>
              <label ng-for="{{answer.ID}}">
              <span ng-if="lan =='en'"><input type="checkbox" name="{{q.ID}}" value="{{answer.ID}}" class="cq-question">{{answer.TextEN}}</span>
              </label>

          </div>
      </div>
      </div>

  </div>
</div> <!-- afanga spurningar bunar -->

<accordion close-others="oneAtATime">

    <accordion-group is-open="isopen" ng-repeat="t in teachers">
        <accordion-heading>

            <span ng-if="lan =='is'">Spurningar um kennara - <small>{{t.FullName}}</small></span>
            <span ng-if="lan =='en'">Teacher questions - <small>{{t.FullName}}</small></span>

            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        </accordion-heading>

              <div ng-repeat="q in evalu.TeacherQuestions">


      <div class="form-group" ng-if="q.Type == 'text'">
      <label ng-if="lan == 'is'">{{ q.TextIS }}</label>
      <label ng-if="lan == 'en'">{{ q.TextEN }}</label>
      <textarea class="form-control {{t.SSN}}" ng-model="answer.Answer" name="{{q.ID}}"></textarea>
      </div>

      <div class="form-group" ng-if="q.Type == 'single'">

      <label ng-if="lan == 'is'">{{ q.TextIS }}</label>
      <label ng-if="lan == 'en'">{{ q.TextEN }}</label>

          <div ng-repeat="answer in q.Answers">
              <label ng-for="{{answer.ID}}">
              <span ng-if="lan =='is'"><input type="radio" name="{{t.SSN}}" placeholder="{{q.ID}}" value="{{answer.ID}}" class="{{t.SSN}}">{{answer.TextIS}}</span>
              </label>
              <label ng-for="{{answer.ID}}">
              <span ng-if="lan =='en'"><input type="radio" name="{{t.SSN}}" placeholder="{{q.ID}}" value="{{answer.ID}}" class="{{t.SSN}}">{{answer.TextEN}}</span>
              </label>

          </div>

      </div>

      <div class="form-group" ng-if="q.Type == 'multiple'">

      <label ng-if="lan == 'is'">{{ q.TextIS }}</label>
      <label ng-if="lan == 'en'">{{ q.TextEN }}</label>

          <div ng-repeat="answer in q.Answers">
              <label ng-for="{{answer.ID}}">
              <span ng-if="lan =='is'"><input type="checkbox" name="{{q.ID}}" value="{{answer.ID}}" class="{{t.SSN}}">{{answer.TextIS}}</span>
              </label>
              <label ng-for="{{answer.ID}}">
              <span ng-if="lan =='en'"><input type="checkbox" name="{{q.ID}}" value="{{answer.ID}}" class="{{t.SSN}}">{{answer.TextEN}}</span>
              </label>

          </div>

      </div>

      </div>

    </accordion-group>

  </accordion>




<!-- <input type="submit" class="btn btn-danger" id="submit" value="Senda"> -->
<button class="btn btn-danger" ng-click="send()">
<span ng-if="lan =='is'">Senda</span>
<span ng-if="lan =='en'">Send</span>
</button>

</form>





