

<span ng-init="getEvals()"></span>
<div class="media">

  <span class="pull-left">
    <img class="media-object thumbnail" ng-src="{{info.ImageURL}}" alt="Mynd af þér">
  </span>
  <div class="media-body">
    <address>
    <h4 class="media-heading">{{info.FullName}}</h4>
    {{info.Username}}<br>
    {{info.SSN}}<br>
    {{info.Username}}@ru.is<br>
  </address>
  </div>
</div>



<span ng-init="getEvals()"></span>
<h4>List of unanswerd Evaluations<h4>
<ul>
  <li ng-repeat="evaluation in allMyEval">
    <a ng-href="#/student/evaluation/{{ evaluation.CourseID }}/20141/{{evaluation.ID}}">{{evaluation.CourseNameEN }}</a>
    <span class="text-muted"><small>{{ evaluation.CourseID }}</small></span>
  </li>
</ul>







<!-- <div ng-repeat="c in courses">
<ul>
  <li ng-repeat="name in c.data">
  {{ name.CourseID }}
  </li>
</ul>
</div> -->
