<span ng-init="getDoneEvalByID()"></span>
<h4>{{stuff.TemplateTitleIS}}</h4>





<ul class="nav nav-tabs nav-justified">
  <li ng-repeat="c in courses">
    <a href='' ng-click="crunchData(c.CourseID)">{{c.CourseNameIS}}</a>
  </li>
</ul>
<div class="panel panel-default">
  <div class="panel-body">

    <h3>Áfanga spurningar</h3>




  <accordion close-others="oneAtATime">

    <accordion-group is-open="isopen" ng-repeat="cq in cQuestions">
        <accordion-heading>
            <span ng-click="showResult(cq)">{{cq.TextIS}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i></span>
        </accordion-heading>

        <table class="table">
              <tbody ng-if="cq.Type == 'text'">
                <tr ng-repeat="svar in cq.TextResults track by $index">
                  <td> {{ svar }} </td>
                </tr>
              </tbody>
        </table>

        <span ng-if="cq.Type != 'text'">
          <canvas barchart options="options" data="chart" width="500" height="300" >
          </canvas>
        </span>
    </accordion-group>

  </accordion>


  <h3>Kennara spurningar</h3>

  <div class="teacher" ng-repeat="teacher in teacherName">
    <h4>{{teacher.Name}}</h4>

    <accordion close-others="oneAtATime">

    <accordion-group is-open="isopen" ng-repeat="tq in tQuestions" ng-if="tq.TeacherSSN == teacher.SSN">
        <accordion-heading>
            <span ng-click="showResult(tq)" ng-show="teacher.SSN == tq.TeacherSSN">{{tq.TextIS}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i></span>
        </accordion-heading>
        
        <table class="table">
              <tbody ng-if="tq.Type == 'text'">
                <tr ng-repeat="svar in tq.TextResults track by $index">
                  <td> {{ svar }} </td>
                </tr>
              </tbody>
        </table>

        <span ng-if="tq.Type != 'text'">
          <canvas barchart options="options" data="chart" width="500" height="300" >
          </canvas>
        </span>
    </accordion-group>

  </accordion>


  </div>
  </div>
</div>


