<span ng-init="getDoneEvalByID()"></span>
<h4>{{stuff.TemplateTitleIS}}</h4>





<ul class="nav nav-tabs nav-justified">
  <li ng-repeat="c in courses">
    <a href='' ng-click="crunchData(c.CourseID)">{{c.CourseNameIS}}</a>
  </li>
</ul>
<div class="panel panel-default">
  <div class="panel-body">

    <h3>Áfanga spurningar</h3>




  <accordion close-others="oneAtATime">

    <accordion-group is-open="isopen" ng-repeat="cq in cQuestions">
        <accordion-heading>
            <span ng-click="showResult(cq)">{{cq.TextIS}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i></span>
        </accordion-heading>
        <ul ng-if="cq.Type == 'text'">
          <li ng-repeat="svar in cq.TextResults">
            {{svar}}
          </li>
        </ul>

        <span ng-if="cq.Type != 'text'">
          <canvas barchart options="options" data="chart" width="500" height="300" >
          </canvas>
        </span>
    </accordion-group>

  </accordion>


  <h3>Kennara spurningar</h3>

  <div class="teacher" ng-repeat="teacher in teacherName">
    <h4>{{teacher.Name}}</h4>
    <ul>
      <li ng-repeat="tq in tQuestions">
        <span ng-if="tq.TeacherSSN == teacher.SSN">{{tq}}</span>
      </li>
    </ul>


  </div>





  </div>
</div>


