<form role="form">
  <div class="form-group">
    <label for="titleIS">Titill</label>
    <input type="text" class="form-control" id="titleIS" placeholder="Ttill" ng-model="evaluation.TitleIS" ng-disabled="!old">
  </div>
   <div class="form-group">
    <label for="titleEN">Title</label>
    <input type="text" class="form-control" id="titleEN" placeholder="Title" ng-model="evaluation.TitleEN" ng-disabled="!old">
  </div>
  <div class="form-group">
    <label for="Kynning">Kynning</label>
    <textarea class="form-control" id="Kynning" placeholder="Kynningar texti" ng-model="evaluation.IntroTextIS" ng-disabled="!old"> </textarea>
  </div>
   <div class="form-group">
    <label for="Intro">Intro</label>
    <textarea class="form-control" id="Intro" placeholder="Intro text" ng-model="evaluation.IntroTextEN" ng-disabled="!old"></textarea>
  </div>

  <div class="form-group" ng-repeat="question in evaluation.CourseQuestions">
    <label ng-show="question.Type == 'multiple' || question.Type == 'single'">{{ question.Type }}</label>
    <input type="text" class="form-control" placeholder="Ttill Spurningar" ng-model="question.TextIS" ng-disabled="!old">
    <div ng-show="question.Type == 'multiple' || question.Type == 'single'">
      <label>Svarmoguleikar</label>
      <ul>
        <li ng-repeat="answer in question.Answers track by $index">
          <input class="form-control" ng-model="answer" ng-disabled="!old">
        </li>
      </ul>
      <button class="btn btn-info" ng-click="addAnswer(question)">Bæta við svari</button>

    </div>

  </div>

<span ng-show="old">
  <div class="row">
    <div class="col-md-6">
    <label>Spurningar um áfanga</label>
    <p><button class="btn btn-mini btn-primary" ng-click="addCourseQuestion('text')">+ Text</button></p>
    <p><button class="btn btn-mini btn-primary" ng-click="addCourseQuestion('single')">+ Single</button></p>
    <p><button class="btn btn-mini btn-primary" ng-click="addCourseQuestion('multiple')">+ Multi</button></p>
    </div>


    <div class="col-md-6">
      <div class="row">
        <label>Spurningar um kennara</label>
        <p><button class="btn btn-mini btn-success" ng-click="addTeacherQuestion('text')">+ Text</button></p>
        <p><button class="btn btn-mini btn-success" ng-click="addTeacherQuestion('single')">+ Single</button></p>
        <p><button class="btn btn-mini btn-success" ng-click="addTeacherQuestion('multi')">+ Multi</button></p>
      </div>
    </div>
    </div>

</span>

<div class="form-group">
  <label for="EndDate">End date</label>
  <input class="form-control" type="datetime-local" name="EndDate" id="EndDate" ng-model="endDate">
</div>

<span ng-show="old">
  <button class="btn btn-default" ng-click="postTemplate()">Save</button>
  <button class="btn btn-danger" ng-click="postTemplate(true)">Save and publish</button>

</span>
<span ng-show="!old">
  <button class="btn btn-danger" ng-click="publishTemplate(ID)">Publish</button></span>
</form>

