<span ng-init="getAllTemplates()"></span>
<span ng-init="getAllEvals()"></span>

<h4>Listi af mötum</h4>
<table class="table table-hover">

  <th>Nafn</th>
  <th>Staða</th>
  <th>Lokast</th>

<tr ng-repeat="eval in evaluations">
  <td><a href="#/teacher/ShowEval/{{eval.ID}}">{{eval.TemplateTitleIS}}</a></td>
  <td>{{eval.Status}}</td>
  <td><span ng-if="eval.Status == 'open'">{{eval.EndDate  | date:'d MMM yyyy - HH:mm '}}</span></td>
</tr>

</table>




<h4>Listi af templateum</h4>
<table class="table table-hover">

  <th>Nafn</th>


<tr ng-repeat="templ in templates">
  <td>
   <a ng-href="#/teacher/NewEval/{{templ.ID}}" ng-click="getTemplateById(templ.ID)">{{ templ.TitleIS }}</a>
  </td>

</tr>

</table>


<a class="btn btn-primary" href='#/teacher/NewEval'>New Template</a>
